BOT_TOKEN = ""
GDRIVE_FOLDER_ID = ""
OWNER_ID = 
DOWNLOAD_DIR = "/usr/src/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = -1
AUTO_DELETE_UPLOAD_MESSAGE_DURATION = 5
CMD_INDEX = ""
TORRENT_TIMEOUT = 180
INCOMPLETE_TASK_NOTIFIER = "True"
IS_TEAM_DRIVE = "True"
TELEGRAM_API = 
TELEGRAM_HASH = ""
DATABASE_URL = ""

# Leech (must add bot and give admin right)
LEECH_LOG = ""
LEECH_LOG_ALT = ""
MIRROR_LOGS = ""
LINK_LOGS = ""
BOT_PM = "True"
LEECH_ENABLED = "True"
IMAGE_LEECH = "True"
TG_SPLIT_SIZE = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
CUSTOM_FILENAME = ""
SOURCE_LINK = "True"

# Pivate Files
ACCOUNTS_ZIP_URL = ""
TOKEN_PICKLE_URL = ""
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = ""
NETRC_URL = ""

# OPTIONAL CONFIG
AUTHORIZED_CHATS = "" #need give admin right and delete message permission
SUDO_USERS = ""
MOD_USERS = ""
IGNORE_PENDING_REQUESTS = "True"
USE_SERVICE_ACCOUNTS = ""
INDEX_URL = ""
STATUS_LIMIT = ""
STOP_DUPLICATE = ""
UPTOBOX_TOKEN = ""

# Update
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""
QB_TIMEOUT = ""

#FSUB
#Telegraph ui
TITLE_NAME = "Mirror Hunter" #
AUTHOR_NAME = "Mirror Hunter" # Default is "Helios Mirror Bot"
AUTHOR_URL = "https://t.me/mirrorhunter" # Default is "https://t.me/heliosmirror"



# Mega
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
BLOCK_MEGA_FOLDER = ""
BLOCK_MEGA_LINKS = ""
MEGAREST = ""

# Shortener
SHORTENER = ""
SHORTENER_API = ""

# GDTOT COOKIE
CRYPT = ""

# APPDRIVE LOGIN
APPDRIVE_EMAIL = ""
APPDRIVE_PASS = ""

# Size Limits
TORRENT_DIRECT_LIMIT = ""
ZIP_UNZIP_LIMIT = ""
CLONE_LIMIT = ""
MEGA_LIMIT = ""
STORAGE_THRESHOLD = ""

# Buttons
VIEW_LINK = "True"
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
